<h2>
<%= @task.title %>
</h2>

<p>
<%= @task.details %>
</p>

<%= link_to edit_task_path(@task) do %>
<button>Edit me!</button>
<% end %>

<%= link_to task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
%>
<button>Delete me!</button>
<% end %>
